<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="theme-color" content="#ff570c" />

    <meta name="author" content="Edwin Svensson" />
    <meta name="owner" content="Edwin Svensson" />
    <meta name="copyright" content="Edwin Svensson" />
    <meta name="keywords" content="web developer, web, programmer, web development, web dev, dev, developer, typescript, javascript, angular, nodejs, express" />
    <meta name="description" content="Hello, I'm Edwin and I'm a programmer and systems manager." />

    <meta property="og:title" content="Edwin - olback.net" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://olback.net" />
    <meta property="og:description" content="Hello, I'm Edwin and I'm a programmer and systems manager." />
    <meta property="og:site_name" content="olback.net" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image:url" content="http://olback.net/assets/img/edwin.jpg" />
    <meta property="og:image:secure_url" content="https://olback.net/assets/img/edwin.jpg" />
    <meta property="og:image:type" content="image/jpeg" />

    <link rel="stylesheet" href="/assets/css/main.min.css" />
    <link rel="shortcut icon" href="/assets/img/edwin.jpg" />

    <title>Edwin - olback.net</title>
</head>
<body>

    <header>

        <section class="arrow">
            <div id="arrow">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="point"></span>
            </div>
        </section>

        <section class="social">
            <a href="https://github.com/olback" aria-hidden="true" class="fab fa-github" rel="noopener" target="_blank"><span>olback</span></a>
            <a href="https://twitter.com/mrolback" aria-hidden="true" class="fab fa-twitter" rel="noopener" target="_blank"><span>MrOlback</span></a>
            <a href="https://www.linkedin.com/in/olback/" aria-hidden="true" class="fab fa-linkedin" rel="noopener" target="_blank"><span>olback</span></a>
        </section>

        <section class="left">
            <picture>
                <source srcset="/assets/img/edwin.webp" />
                <img src="/assets/img/edwin.jpg" alt="Picture" />
            </picture>
        </section>

        <section class="right">
            <h1>
                Hi<span class="accent">,</span> I<span class="accent">'</span>m Edwin<span class="accent">.</span>
            </h1>
            <h2>
                <span id="profession">Web developer<span class="accent">.</span></span><span id="underscore" class="blink">_</span>
            </h2>
        </section>

    </header>

    <main>

        <section id="oss">

            <h2>Open Source Projects</h2>

            <div class="items">

                <article>
                    <h3>es6-css-minify</h3>
                    <p>
                        <em>es6-css-minify</em> is a open-source VS Code extension that lets you minify JavaScript,
                        CSS and generate source maps with a simple click.
                        View source on <a href="http://github.com/olback/es6-css-minify" rel="noopener" target="_blank">Github</a>
                        or download from the
                        <a href="https://marketplace.visualstudio.com/items?itemName=olback.es6-css-minify" rel="noopener" target="_blank">VSC Marketplace</a>.
                    </p>
                </article>

                <article>
                    <h3>Chickens Attack Helicopters</h3>
                    <p>
                        <em>Chickens Attack Helicopters</em> is an online implementation of the popular table top party game
                        <a href="https://cardsagainsthumanity.com/" rel="noopener" target="_blank">Cards Against Humanity</a>.
                        It's a game for truly horrible people. Play it on <a href="https://cah.ninja?utm_source=olback.net" rel="noopener" target="_blank">cah.ninja</a>
                        or contribute to the game on <a href="https://github.com/olback/cah" rel="noopener" target="_blank">GitHub</a>.
                    </p>
                </article>

                <article>
                    <h3>rdg-linux</h3>
                    <p>
                        <em>rdg-linux</em> is a simple front-end application for the CLI tool rdesktop.
                        This was created for people that don't like using the terminal for everything.
                        View <a href="https://github.com/olback/rdg-linux" rel="noopener" target="_blank">source</a> or <a href="https://github.com/olback/rdg-linux/releases/latest" rel="noopener" target="_blank">download</a> on Github.
                    </p>
                </article>

            </div>

        </section>

        <section id="about">

            <h2>About me</h2>

            <div class="body">

                <h4>Introduction</h4>
                <p>
                    Hey, my name is Edwin and i study IT/engineering in Sweden.
                    I am {{ age }} years old and I really enjoy maths, physics and chemistry.
                    In my spare time I usually work on one of my many side-projects.
                    I'm also a fan of open source software and hardware.
                </p>

                <h4>Favourite programming language?</h4>
                <p>TypeScript.</p>

                <h4>Education: (ISCED)</h4>
                <ul>
                    <li><strong>3-5</strong> Information and Media Technology 3 years</li>
                    <li><strong>6</strong> University (Computer Engineer) 3 years</li>
                </ul>

            </div>

        </section>

        <section id="contact">

            <h2>Contact</h2>

            <div class="wrapper">

                <div class="m-status {{ class }}">
                    {{ message }}
                </div>

                <form action="/mail" method="POST">

                    <div class="name-email">

                        <div class="input-group">
                            <label for="name">Full name:</label>
                            <input required name="name" id="name" type="text" value="{{ mail.name }}" />
                        </div>

                        <div class="input-group">
                            <label for="email">Your Email:</label>
                            <input required name="email" id="email" type="email" value="{{ mail.email }}" />
                        </div>

                    </div>

                    <div class="input-group">
                        <label for="subject">Subject:</label>
                        <input required name="subject" id="subject" type="text" value="{{ mail.subject }}" />
                    </div>

                    <div class="input-group">
                        <label for="body">Message:</label>
                        <textarea required name="body" id="body">{{ mail.body }}</textarea>
                    </div>

                    <div class="input-group checkbox">
                        <span>I want to receive a copy of this message:</span>
                        {{#if mail.copy}}
                            <input id="copy" name="copy" type="checkbox" checked />
                        {{else}}
                            <input id="copy" name="copy" type="checkbox" />
                        {{/if}}
                        <label for="copy"></label>
                    </div>

                    <input type="hidden" name="_csrf" value="{{ csrf }}" />
                    <input type="checkbox" name="_interactive" />

                    <button type="submit" disabled>Send</button>

                </form>

            </div>

        </section>

    </main>

    <div id="cookie">
        <p>This site uses cookies.</p> <button id="cookie-ok">OK</button>
    </div>

    <div id="scroll-top" class="fas fa-chevron-up"></div>

    <footer>
        <p>Edwin &copy; olback.net {{ year }}</p>
        <div id="darkmode-toggle" class="fas fa-adjust"></div>
    </footer>

    <script src="/assets/js/main.min.js"></script>

</body>
</html>
